body{
	margin: 0%;
}

nav{
	left: 0;
	top: 0;
	overflow: auto;
	width: 100%;
	position: sticky;
	display: flex;
	background-color: black;
	justify-content: space-around;
}

a{
	text-decoration: none;
	color: white;
}

.nava{
	padding: 10px 20px;
	font-weight: bold;
	font-size: 2.5em;
}
.nava:hover{
	background-color: maroon;
}
.main{
	padding: 10px;
}