body{
	margin: 0;
}
header{
	font-size: 1.5em;
	text-align: center;
}
nav{
	top: 0;
	overflow: auto;
	width: 100%;
	position: sticky;
	display: flex;
	background-color: black;
	justify-content: space-around;
}

a{
	text-decoration: none;
	color: black;
}
img{
	display: block;
	max-width: 100%;
}
.nava{
	padding: 10px 30px;
	font-weight: bold;
	font-size: 2.5em;
	color: white;
}
.nava:hover{
	background-color: rgb(194, 75, 6);
}
.main{
	padding: 10px;
}