body{
	margin: 0;
}

header{
	font-size: 1.5em;
	text-align: center;
	margin: 10px;
}

header > * {
	margin: 10px;
}


nav{
	top: 0;
	overflow: auto;
	width: 100%;
	position: sticky;
	display: flex;
	background-color: black;
	justify-content: space-around;
}

nav > a{
	padding: 10px 30px;
	font-weight: bold;
	font-size: 2.5em;
	color: white;
}

nav > a:hover{
	background-color: rgb(194, 75, 6);
}

a{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
}

.main{
	padding: 10px;
}